#signUp_area{
    position: absolute;
    height: 80%;
    width: 100%;
    top: 10%;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    display: none;
}

.sty_signUp{
    margin: 3%;
    width: 30%;
    position: relative;
}

h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10%;
}

h2::first-letter{
    font-size: 5vmin;
    color: #ff5033;
}

.instant_signUp > div{
    background-color: #F1F6F9;
    padding: 4%;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    margin-left: 10%;
}

.instant_signUp > div > a{
    pointer-events: all;
    font-size: 1.2rem;
    font-weight: bold;
}

.userInfo{
    color:#F1F6F9;
    display: flex;
    width: 80%;
    margin-left: 10%;
    flex-direction: column;
}

.info_data{
    position: relative;
    margin-bottom: 8.5%;
}

.info_input{
    width: 70%;
    height: 4vh;
    color: #F1F6F9;
    outline: none;
    border: 3px solid #394867;
    background: #F1F6F9;
    transition: 0.5s;
    padding: 2% 2%;
    caret-color: #394867;
    border-radius: 10px;
    color: #394867;
    font-size: 15px;
}

.info_label{
    color: #394867;
    position: absolute;
    left: 3%;
    bottom: 1rem;
    font-weight: bold;
    transition: 0.2s linear;
    font-size: 1.2rem;
}

.info_input:focus{
    border-image: linear-gradient(#394867 #F1F6F9) 2;
    animation: color 3s linear infinite;
}

.info_input:focus ~ .info_label, .info_input:valid ~ .info_label{
    bottom: calc(2vh + 2.6rem);
    color: #F1F6F9;
    font-weight: bold;
}

.info_btn{
    width: 20%;
    font-size: 18px;
    padding: 1.3%;
    border-radius: 0.4rem;
    color: #F1F6F9;
    font-weight: bold;
    background-color: #ff5033;
    transition: 1s;
    position: relative;
    border: 0;
    text-align: center;
    user-select: none;
}

.info_btn:hover{
    background-color: #fc6a50;
}

.info_btn::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.4rem;
    
    transition: 1s;
    box-shadow: 0 0 100px 15px #fc6a50;
    opacity: 0;
}

.info_btn:active:after{    
    transition: 0s;
    box-shadow: 0 0 0px 0px #fc6a50;
    opacity: 1;
}

.userInfo{
    display: 1;
    transition: 0.5s ease;
    pointer-events: all;
}

.userInfo.active{
    opacity: 0;
    pointer-events: none;
}

.statesContent{
    display: none;
    position: absolute;
    top: 14vh;
    left: 10%;
    width: 100%;
    height: 130%;
    background-color: #F1F6F9;
    border-radius: 20px;
    padding: 2%;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    display: none;
}

.signUpinfo{
    list-style: none;
    transition: 2s linear;
    opacity: 0;
    z-index: -1;
}

.signUpinfo.active{
   opacity: 1;
}

.signUpinfo > li{
    margin: 3% 0% 3% 0%;
    font-size: 1.2rem;
    width: 100%;
    position: relative;
    color: #394867;
    z-index: 3;
  }

.signUpinfo > li::before {
    content: "";
    position: absolute;
    width: 4%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    transform: translate(-25px, -5px);
    background: linear-gradient(45deg, #f69ec4, #f9dd94);
    transition: 1s ease;
    box-shadow: 2px 2px 2px black;
  }

  .signUpinfo > li::after{
    content: "";
    position: absolute;
    width: 13%;
    left: 8%;
    height: 30%;
    bottom: -15%;
    transform: translate(-25px, -5px);
    background: linear-gradient(45deg, #f69ec4, #f9dd94);
    background-color: #F1F6F9;
    transition: 1s ease;
    z-index: -1;
    box-shadow: 2px 2px 2px black;
  }

  .signUpinfo > li > span{
    font-weight: bold;
    color: #fc6a50;
  }

  .signUpinfo > ul{
    font-size: 1.2rem;
    color: #394867;
  }

  .member{
    margin: 0%;
    font-size: 1.2rem;
    width: 100%;
    position: relative;
    color: #394867;
    z-index: 3; 
  }

  .paid_info{
    font-weight: bold;
    color: #394867;
    font-size: 1.2rem;
    width: 80%;
  }

@media only screen and (max-width: 768px) {
    #signUp_area{
        flex-direction: column;
        height: 80%;
        top: 10%;
        justify-content: start;
    }
    .sty_signUp{
        width: 90%;
    }
    h2{
        color: white;
        margin-bottom: 10%;
    }
    
    h2::first-letter{
        font-size: 7vmin;
        color: #ff5033;
    }
    
    .instant_signUp > div{
        width: 40%;
        padding: 6%;
    }

    .info_label{
        left: 6%;
    }

    .info_btn{
        width: 25%;
        padding: 2%;
        margin-bottom: 4%;
    }

    .info_input{
        width: 80%;
        height: 4.5vh;
        font-size: 18px;
    }

    .statesContent{
        top: 10vh;
        max-height: 100%;
        width: 80%;
    }
    
}